body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  display: inline;
}

.biopic {
  max-width: 200px;
  float: left;
}

img {
  padding: 10px;
}

#letsConnect {
  text-align: center;
}

.skillsList {
  display: table-cell;
}

#map {
  height: 100%;
}

#mapDiv {
  height: 400px;
}

#header {
  background-color: #f6f6f6;
}

header a {
  padding: 5px;
}

.role {
  float: right;
}

.education-entry {
  padding: 30px;
}

.education-entry:nth-of-type(even) {
  background-color: #f6f6f6;
};

.work-entry {
  padding: 30px;
}

.work-entry:nth-of-type(even) {
  background-color: #f6f6f6;
};

.project-entry {
  padding: 30px;
}

.project:nth-of-type(even) {
  background-color: #f6f6f6;
};

skillsContainer {
  display: block;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media (max-width: 440px) {
  #skillsContainer {
    clear: both;
  }
}